
<section id="schedules" class="schedule get-involved">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title-header text-center">
					<h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">{{ _('get_involved:title') }}</h2>
					{% if _('get_involved:intro') != 'get_involved:intro' %}
					<p class="wow fadeInDown" data-wow-delay="0.2s">{{ _('get_involved:intro') }}</p>
					{% endif %}
				</div>
			</div>
		</div>
		<div id="accordion">


			<!-- <div class="card">
				<div data-target="#collapse-4" aria-controls="collapse-4" class="card-header-b" data-toggle="collapse" aria-expanded="false">
					<div class="container">
						<div class="row">
							<div class="text col-12 pl-5">
								<h4 class="mb-0">{{ _('get_involved:au:title') }}</h4>
								<i class="opener-chevron-b lni-chevron-right"></i>
							</div>
						</div>
					</div>
				</div>
				<div aria-labelledby="heading-4" id="collapse-4" class="collapse{{ ' show' if lang == 'en' else '' }}" data-parent="#accordion">
					<div class="card-body">
						<h2>...</h2>
						<p>...</p>
					</div>
				</div>
			</div> -->


			<div class="card">
				<div data-target="#collapse-3" aria-controls="collapse-3" class="card-header-b" data-toggle="collapse" aria-expanded="false">
					<div class="container">
						<div class="row">
							<div class="text col-12 pl-5">
								<h4 class="mb-0">{{ _('get_involved:de_at_ch:title') }}</h4>
								<i class="opener-chevron-b lni-chevron-right"></i>
							</div>
						</div>
					</div>
				</div>
				<div aria-labelledby="heading-3" id="collapse-3" class="collapse{{ ' show' if lang == 'de' else '' }}" data-parent="#accordion">
					<div class="card-body">
						<h2>Spenden</h2>
						<p>Über <a href="https://www.effektiv-spenden.org">effektiv-spenden.org</a>
							ist es möglich an einige der effektivsten Hilfsorganisatiionen der
							Welt in den Bereichen Entwicklungszusammenarbeit, Tierschutz und
							Klimaschutz zu spenden. Alle Spenden können in Deutschland
							steuerlich geltend gemacht werden.
						</p>
						<hr>
						<p>Bei Fragen schreib einfach eine E-Mail an 
							<a href="mailto:info@effektiv-spenden.org">info@effektiv-spenden.org</a>
							oder vereinbare eine individuelle 
							<a href="https://www.effektiv-spenden.org/spendenberatung">Spendenberatung</a>.
						</p>
					</div>
				</div>
			</div>


			<div class="card">
				<div data-target="#collapse-1" aria-controls="collapse-1" class="card-header-b" data-toggle="collapse" aria-expanded="false">
					<div class="container">
						<div class="row">
							<div class="text col-12 pl-5">
								<h4 class="mb-0">{{ _('get_involved:es:title') }}</h4>
								<i class="opener-chevron-b lni-chevron-right"></i>
							</div>
						</div>
					</div>
				</div>
				<div aria-labelledby="heading-1" id="collapse-1" class="collapse{{ ' show' if lang == 'es' else '' }}" data-parent="#accordion">
					<div class="card-body">
						<h2>Dona</h2>
						<p><a href="https://ayudaefectiva.org">Ayuda Efectiva</a> selecciona y financia 
							los programas que, con un mismo coste, salvan más vidas o ayudan más a más 
							personas. Las donaciones a su 
							<a href="https://ayudaefectiva.org/fondo-salud-global">Fondo Salud Global</a> 
							se destinan en su totalidad a financiar una selección de los proyectos más 
							efectivos (basándose en la investigación y las recomendaciones de GiveWell). 
							La donaciones son deducibles tanto en IRPF como en Impuesto de sociedades.
						</p>
						<hr>
						<h2>Aprende más</h2>
						<p>¿Quieres saber más? Puedes <a href="https://ayudaefectiva.org/ayuda-efectiva">leer 
							acerca de la ayuda efectiva</a>, suscribirte a la 
							<a href="https://ayudaefectiva.org/newsletter">newsletter</a> 
							o seguir a la fundación Ayuda Efectiva en 
							<a href="https://twitter.com/ayuda_efectiva">Twitter</a>, 
							<a href="https://www.facebook.com/FundacionAyudaEfectiva">Facebook</a> o 
							<a href="https://www.linkedin.com/company/fundacion-ayuda-efectiva/">LinkedIn</a>.
						</p>
					</div>
				</div>
			</div>

			<div class="card">
				<div data-target="#collapse-2" aria-controls="collapse-2" class="card-header-b" data-toggle="collapse" aria-expanded="false">
					<div class="container">
						<div class="row">
							<div class="text col-12 pl-5">
								<h4 class="mb-0">{{ _('get_involved:us_ca_gb:title') }}</h4>
								<i class="opener-chevron-b lni-chevron-right"></i>
							</div>
						</div>
					</div>
				</div>
				<div aria-labelledby="heading-2" id="collapse-2" class="collapse{{ ' show' if lang == 'en' else '' }}" data-parent="#accordion">
					<div class="card-body">
						<h2>US</h2>
						<p>One for the World processes donations to any US charity and all donations
							are tax deductible for US taxpayers. You can make donations to the most 
							effective charities in global health and poverty 
							<a href="https://donational.org/oftw">here</a>. If you would like to 
							donate to effective charities outside global health and poverty, 
							please get in touch <a href="mailto:jack@1fortheworld.org">here</a>.
						</p>
						<p>If you think your colleagues, classmates or friends would be interested in 
							hearing more about effective giving or One for the World, please reach 
							out <a href="mailto:jack@1fortheworld.org">here</a>.
						</p>
						<hr>
						<h2>UK</h2>
						<p>One for the World processes donations to any US or UK charity and all 
							donations are tax deductible for UK taxpayers. We can also claim Gift Aid 
							on your behalf, to increase your donations by 25% at no extra cost.
						</p>
						<p>You can make donations to the most effective charities in global health 
							and poverty <a href="https://donational.org/oftw-uk">here</a>. If you would 
							like to donate to effective charities outside global health and poverty, 
							please get in touch <a href="mailto:jack@1fortheworld.org">here</a>.
						</p>
						<p>If you think your colleagues, classmates or friends would be interested 
							in hearing more about effective giving or One for the World, please reach 
							out <a href="mailto:jack@1fortheworld.org">here</a>.
						</p>
						<hr>
						<h2>Australia</h2>
						<p>One for the World processes donations to any US or UK charity and all 
							donations are tax deductible for Australian taxpayers. You can make 
							donations to the most effective charities in global health and poverty 
							<a href="https://donational.org/oftw-aus">here</a>. If you would like 
							to donate to effective charities outside global health and poverty, 
							please get in touch <a href="mailto:jack@1fortheworld.org">here</a>.
						</p>
						<p>If you think your colleagues, classmates or friends would be interested 
							in hearing more about effective giving or One for the World, please 
							reach out <a href="mailto:jack@1fortheworld.org">here</a>.
						</p>
						<hr>
						<h2>Canada</h2>
						<p>RC Forward is a one-stop shop for donors who want to make an impact on 
							the world through effective giving. We aim to bridge the gap between 
							high-impact giving and tax-benefits for Canadians by connecting donors 
							with over 30 charities working in Global Health and Development, Animal 
							Welfare, Environmental Health and Existential Risk Mitigation. 
							We also support Effective Altruism organizations and startups aiming 
							to become high-impact charities. Visit our 
							<a href="https://rcforward.org/donate/">website</a> 
							for a full list of the charities you can support through RC Forward.
						</p>
					</div>
				</div>
			</div>


		</div>
	</div>
</section>
