
<section id="schedules" class="schedule get-involved">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title-header text-center">
					<h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">{{ _('get_involved:title') }}</h2>
					<p class="mt-10">You can now donate to effective charities across the world. The global effective giving network is growing and aims to provide donors in a range of countries with tax effective options.</p>
					<p class="mt-10">Please bear in mind that some giving opportunities can be <a href='https://www.givingwhatwecan.org/charity-comparisons'>hundreds of times</a> more effective than others, so it <a href='https://forum.effectivealtruism.org/posts/jq4ENfSYjuD5PbTCv/donating-effectively-does-not-necessarily-imply-donating-tax?utm_source=givingwhatwecan&utm_medium=referral&utm_campaign=givingwhatwecan'>might be best</a> to donate abroad — even if it means incurring international fees or missing out on a tax deduction — if you believe the international organisation will do more to improve the lives of others. This is also a good option for people who don't see their country listed below.</p>
					{% if _('get_involved:intro') != 'get_involved:intro' %}
					<p class="wow fadeInDown" data-wow-delay="0.2s">{{ _('get_involved:intro') }}</p>
					{% endif %}
				</div>
			</div>
		</div>
		<div id="table">
	      <table class="table">
	        <thead>
	      	  <tr>
	      	    <th>Country</th>
	      	    <th>Tax-deductible organisation</th>
	      	  </tr>
	        </thead>
	        <tbody>
	      	  <tr>
	      	    <td><a href="https://www.givingwhatwecan.org/get-involved/tax-deductibility/australia">Australia</a></td>
	      	    <td><a href="https://effectivealtruism.org.au/donate/">Effective Altruism Australia</a></td>
	      	  </tr>
	      	  <tr>
				<td><a href="https://www.givingwhatwecan.org/get-involved/tax-deductibility/canada">Canada</a></td>
				<td><a href="https://rcforward.org/giving-what-we-can-canada/?utm_source=givingwhatwecan&utm_medium=referral&utm_campaign=givingwhatwecan">RC Forward</a> (Rethink Charity Foundation)</td>
	      	  </tr>
	      	  <tr>
				<td><a href="https://www.givingwhatwecan.org/get-involved/tax-deductibility/denmark">Denmark</a></td>
				<td><a href="https://giveffektivt.dk/?utm_source=givingwhatwecan&utm_medium=referral&utm_campaign=givingwhatwecan">Giv Effektivt</a></td>
	      	  </tr>
	      	  <tr>
				<td>Estonia</td>
				<td><a href="https://annetatargalt.ee/?utm_source=givingwhatwecan&utm_medium=referral&utm_campaign=givingwhatwecan">Anneta Targalt</a></td>
	      	  </tr>
	      	  <tr>
				<td><a href="https://www.givingwhatwecan.org/get-involved/tax-deductibility/germany">Germany</a></td>
				<td><a href="https://www.effektiv-spenden.org/?utm_source=givingwhatwecan&utm_medium=referral&utm_campaign=givingwhatwecan">Effektiv Spenden</a> or <a href="https://www.effektiveraltruismus.de/spenden?utm_source=givingwhatwecan&utm_medium=referral&utm_campaign=givingwhatwecan">Effektiver Altruismus</a></td>
	      	  </tr>
	      	  <tr>
				<td><a href="https://www.givingwhatwecan.org/get-involved/tax-deductibility/the-netherlands">Netherlands</a></td>
				<td><a href="https://www.givingwhatwecan.org/donate/organizations">Giving What We Can</a> or <a href="https://doneereffectief.nl/">Doneer Effectief</a></td>
	      	  </tr>
	      	  <tr>
				<td><a href="https://www.givingwhatwecan.org/get-involved/tax-deductibility/new-zealand">New Zealand</a></td>
				<td><a href="https://effectivealtruism.nz/donate/?utm_source=givingwhatwecan&utm_medium=referral&utm_campaign=givingwhatwecan">Effective Altruism New Zealand</a></td>
	      	  </tr>
	      	  <tr>
				<td><a href="https://www.givingwhatwecan.org/get-involved/tax-deductibility/norway">Norway</a></td>
				<td><a href="https://gieffektivt.no/?utm_source=givingwhatwecan&utm_medium=referral&utm_campaign=givingwhatwecan">Gi effektivt</a></td>
	      	  </tr>
	      	  <tr>
				<td><a href="https://www.givingwhatwecan.org/get-involved/tax-deductibility/spain">Spain</a></td>
				<td><a href="https://ayudaefectiva.org/?utm_source=givingwhatwecan&utm_medium=referral&utm_campaign=givingwhatwecan">Ayuda Efectiva</a></td>
	      	  </tr>
	      	  <tr>
				<td>Sweden</td>
				<td><a href="https://geeffektivt.se/?utm_source=givingwhatwecan&utm_medium=referral&utm_campaign=givingwhatwecan">Ge effektivt</a></td>
	      	  </tr>
	      	  <tr>
				<td><a href="https://www.givingwhatwecan.org/get-involved/tax-deductibility/switzerland">Switzerland</a></td>
				<td><a href="https://www.effektiv-spenden.org/spenden-schweiz/?utm_source=givingwhatwecan&utm_medium=referral&utm_campaign=givingwhatwecan">Effektiv Spenden</a></td>
	      	  </tr>
	      	  <tr>
				<td><a href="https://www.givingwhatwecan.org/get-involved/tax-deductibility/united-kingdom">United Kingdom</a></td>
				<td><a href="https://www.givingwhatwecan.org/donate/organizations">Giving What We Can</a></td>
	      	  </tr>
	      	  <tr>
				<td><a href="https://www.givingwhatwecan.org/get-involved/tax-deductibility/united-states">United States</a></td>
				<td><a href="https://www.givingwhatwecan.org/donate/organizations">Giving What We Can</a></td>
	      	  </tr>
	        </tbody>
	      </table>	
		</div>
	</div>
</section>
