
<div id="hero-area" class="hero-area-bg">
	<div class="overlay"></div>
	<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-9 col-sm-12">
		<div class="contents text-center">
			<div class="icon">
				<i class="lni-mic"></i>
			</div>
			<p class="banner-info">
				28th of November 2022 (29th for Asia Pacific)
			</p>
			<h2 class="head-title">{{ _('hero:title') }}</h2>
			<p class="banner-desc">{{ _('hero:intro') }}</p>
			<div class="banner-btn">
				<!-- PRE EVENT -->
				<a href="https://www.facebook.com/events/908548530129148?active_tab=about" class="btn btn-common">{{ _('hero:register_button') }}</a>
				{#
				<!-- EVENT LIVE -->
				<!-- <a class="btn btn-common" href="https://youtu.be/ih70QEf8Scs" target="_blank">
					{% if lang=='es' %}¡Ver en directo!{% else %}Watch live now!{% endif %}
				</a> -->
				<!-- EVENT FINISHED -->
				<!-- <a class="btn btn-common mb-5" href="javascript:frappe.ui.scroll('.form-subscribe', true)">
					{% if lang=='es' %}Suscríbete a nuestra newsletter{% elif lang=='de' %}Melde dich für unseren Newsletter an{% else %}Join our newsletter{% endif %}
				</a> -->
				#}
			</div>
		</div>
		</div>
	</div>
	</div>
</div>
