
<h2>Effective Giving Day (2021)</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ih70QEf8Scs?start=43" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<hr class="my-5">

<h2>Effective Giving Day Main Video</h2>
<iframe width="560" height="315" src="https://youtu.be/VR7bnod7ADA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<hr class="my-5">

<h2>Effective Giving Day 2021: Q&A Americas</h2>
<iframe width="560" height="315" src="https://youtu.be/pb69evlRthk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<hr class="my-5">

<h2>Effective Giving Day 2021: Q&A Australasia</h2>
<iframe width="560" height="315" src="https://youtu.be/nAUfaDA9hTs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<hr class="my-5">

<h2>Effective Giving Day 2021: Q&A Europe / UK</h2>
<iframe width="560" height="315" src="https://youtu.be/go_DIyRRVkI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
