
<h2>Effective Giving Day (2020)</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ih70QEf8Scs?start=43" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<hr class="my-5">

<h2>The ABC of High Impact Climate Philanthropy and where to give now (2020)</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/FIYdt87JQzM?start=4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<hr class="my-5">

<h2>Animal welfare: Our recommendations for the giving season (2020)</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/MhpltNvZ6Fw?start=4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<hr class="my-5">

<h2>Global health and development: GiveWell's research on the most effective charities (2020)</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/l2BVFN0JhYQ?start=4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<hr class="my-5">

<h2>Effective Giving Day Keynote: Nobel Prize winner Professor Michael Kremer (2020)</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/5A_UchQsnbo?start=3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
