---
base_template: templates/web.html
title: Día Internacional de la Ayuda Efectiva
meta_description: El 30 de noviembre de 2020 podrás descubrir cómo las ideas de la ayuda efectiva te pueden ayudar a maximizar tu impacto al donar a las causas que te importan
---

{% set name = "home" %}

{% extends "templates/web.html" %}


{% block header %}
	{% block hero %}
		{% include "templates/includes/hero.html" %}
	{% endblock %}
	{% include "templates/includes/header.html" %}
{% endblock %}


{% block page_container %}

	{% include "templates/includes/section-why.html" %}

	{% include "templates/includes/section-agenda.html" %}

	{% include "templates/includes/section-speakers.html" %}

	{% include "templates/includes/section-partners.html" %}

{% endblock %}
